<h1>Training#details</h1>
<p>directory: <%= @directory %></p>

<p><%= @sport.translation.map { |t| t.text.text if t.id.language == 'en' }.compact.join('/') %></p>
<p><%= pb_sysdatetime_to_string @training_session.start, @training_session.start.time_zone_offset %></p>
<p><%= pb_sysdatetime_to_string @training_session.end, @training_session.end.time_zone_offset %></p>
<p><%= pb_duration_to_string @training_session.duration %></p>

